@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Quicksand:wght@300..700&display=swap");

@import "tailwindcss";

:root {
  --color-primario: #344c64;
  --color-secundario: #577b8d;
  --color-terciario: #57a6a1;
  --letra-titulo: "League Spartan", sans-serif;
  --letra-texto: "Quicksand", sans-serif;
}

/* Resetear CSS */
a{
  text-decoration: none;
}

.menu__nav__icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

nav {
  padding: 0 10% 0 10%;
}

#menu__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  overflow: hidden;
  gap: 10px;
}

.menu__nav__items {
  float: left;
  height: 100%;
}

.menu__nav__links{
  font-size: 25px;
  height: 100%;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: var(--letra-texto);
  font-weight: 600;
  color: #001d2f;
}

.menu__nav__boton {
  font-size: 25px;
  font-family: var(--letra-texto);
  font-weight: 600;
  background-color: var(--color-terciario);
  color: #ffffff;
  border-radius: 5rem;
  border: var(--color-terciario) solid;
  padding: 8px 30px;
  text-decoration: none;
  text-align: center;
}

.letratitulo{
    font-family: var(--letra-titulo);
}

.letratexto{
    font-family: var(--letra-texto);
}

.menu__principal__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 50%;
}

.menu__principal__titulo {
  display: flex;
  color: #ffffff;
  font-family: var(--letra-titulo);
  font-weight: 600;
  font-size: 4.5rem;
  text-align: center;
}

.menu__principal__boton {
  font-family: var(--letra-texto);
  font-size: 25px;
  color: #ffffff;
  border-radius: 5rem;
  border: #ffffff solid;
  padding: 15px 30px;
  text-decoration: none;
}

.menu__principal__parrafo {
  color: var(--color-fuente);
  font-family: var(--letra-texto);
  font-size: 10px;
  text-align: center;
}

.menu__principal__img {
  width: 35.75rem;
}

.introduccion {
  background-image: url("/introduccion.png");
  background-size: cover;
  display: flex;
  padding: 0 200px;
  height: 100dvh;
}

.introduccion__div {
  padding: 100px 0px 0px 0px;
  gap: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.introduccion__div__titulo {
  font-family: var(--letra-titulo);
  font-size: 50px;
  color: var(--color-primario);
  text-align: center;
}

.introduccion__div__parrafo {
  font-family: var(--letra-texto);
  text-align: justify;
  color: var(--color-primario);
  font-size: 24px;
  font-weight: 600;
}

.introduccion__div__boton {
  font-family: var(--letra-texto);
  font-weight: 600;
  background-color: var(--color-terciario);
  color: #ffffff;
  border-radius: 5rem;
  border: var(--color-terciario) solid;
  padding: 15px 40px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
}

.servicios {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}

.servicios__row{
  display: flex;
  justify-content: space-evenly;
  height: 60dvh;
}

.servicios__row> :nth-child(1),
.servicios__row> :nth-child(3) {
  align-self: flex-end;
}

.servicios__container {
  box-sizing: content-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
  align-items: center;
  width: 400px;
  height: 85%;
}

.servicios__titulo {
  font-family: var(--letra-titulo);
  font-size: 100px;
  color: var(--color-primario);
  text-align: center;
  padding: 50px 0 40px 0;
}

.servicios__subtitulo {
  font-family: var(--letra-titulo);
  font-size: 30px;
  color: var(--color-primario);
  text-align: center;
  margin-bottom: 20px;
  padding: 0 20px  0 40px;
}

.servicios__ul{
  padding: 0 20px 0 40px;
  text-align: justify;
  font-family: var(--letra-texto);
}

#btn__cotizar{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100wh;
}

@media (max-width: 1200px) {
  .menu {
    background-image: url("/background-pixelSize.jpg");
    padding: 0;
  }

  .menu__nav__icon {
    display: block;
  }

  .menu__nav__items {
    display: none;
  }

  .menu__principal_old {
    display: flex;
    justify-content: center;
    padding: 0 10px 0px 10px;
  }

  .menu__principal__titulo {
    font-size: 4rem;
  }

  .menu__principal__subtitulo {
    font-size: 1.5rem;
  }

  .menu__principal__boton {
    width: 18.75rem;
  }
}