@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Quicksand:wght@300..700&display=swap");

:root {
  --color-primario: #344c64;
  --color-secundario: #577b8d;
  --color-terciario: #57a6a1;
  --letra-titulo: "League Spartan", sans-serif;
  --letra-texto: "Quicksand", sans-serif;
}

/* Resetear CSS */
* {
  padding: 0;
  margin: 00;
}

.menu {
}

.menu__nav {
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.menu__nav__icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.menu__nav__items {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.menu__nav__links {
  font-family: var(--letra-texto);
  font-weight: 600;
  color: #001d2f;
  text-decoration: none;
}

.menu__nav__boton {
  font-family: var(--letra-texto);
  font-weight: 600;
  background-color: var(--color-terciario);
  color: #ffffff;
  border-radius: 5rem;
  border: var(--color-terciario) solid;
  padding: 8px 30px;
  text-decoration: none;
  text-align: center;
}

.menu__principal {
  display: flex;
  background-image: url("/menu-principal.png");
  background-position: right;
  background-size: cover;
  height: 550px;
  padding: 0 200px;
}

.menu__principal__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  width: 50%;
}

.menu__principal__titulo {
  display: flex;
  color: #ffffff;
  font-family: var(--letra-titulo);
  font-weight: 600;
  font-size: 4.5rem;
  text-align: center;
}

.menu__principal__boton {
  font-family: var(--letra-texto);
  font-size: 25px;
  color: #ffffff;
  border-radius: 5rem;
  border: #ffffff solid;
  padding: 15px 30px;
  text-decoration: none;
}

.menu__principal__parrafo {
  color: var(--color-fuente);
  font-family: var(--letra-texto);
  font-size: 10px;
  text-align: center;
}

.menu__principal__img {
  width: 35.75rem;
}

.introduccion {
  background-image: url("/introduccion.png");
  background-size: cover;
  display: flex;
  padding: 0 200px;
  height: 900px;
}

.introduccion__div {
  padding: 100px 0px 0px 0px;
  gap: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.introduccion__div__titulo {
  font-family: var(--letra-titulo);
  font-size: 50px;
  color: var(--color-primario);
  text-align: center;
}

.introduccion__div__parrafo {
  font-family: var(--letra-texto);
  text-align: justify;
  color: var(--color-primario);
  font-size: 24px;
  font-weight: 600;
}

.introduccion__div__boton {
  font-family: var(--letra-texto);
  font-weight: 600;
  background-color: var(--color-terciario);
  color: #ffffff;
  border-radius: 5rem;
  border: var(--color-terciario) solid;
  padding: 15px 40px;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
}

@media (max-width: 1200px) {
  .menu {
    background-image: url("/background-pixelSize.jpg");
    padding: 0;
  }

  .menu__nav__icon {
    display: block;
  }

  .menu__nav__items {
    display: none;
  }

  .menu__principal_old {
    display: flex;
    justify-content: center;
    padding: 0 10px 0px 10px;
  }

  .menu__principal__titulo {
    font-size: 4rem;
  }

  .menu__principal__subtitulo {
    font-size: 1.5rem;
  }

  .menu__principal__boton {
    width: 18.75rem;
  }
}
